* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000958;
  --text-color: #656689;
  --lighter-color: #5e6085;
  --orange-color: #ff5b2e;

  --primary-font: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --header-font: "Sora", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  background: #fffaf5;
}
/* ============================ Common ============================  */
a {
  text-decoration: none;
  color: currentColor;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
}

.container {
  width: 1169px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.section-desc {
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 1.875;
}

.section-heading {
  font-family: var(--header-font);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
  color: var(--primary-color);
}

.btn {
  display: inline-block;
  border: 1px solid #ff5b2e;
  border-radius: 31px;
  outline: none;
  width: 214px;
  height: 56px;
  color: var(--orange-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  line-height: 56px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background: var(--orange-color);
  color: #fff;
}
/* ============================ Header ============================  */
.header {
  position: sticky;
  top: -18px;
  z-index: 99;
  padding-top: 26px;
  padding-bottom: 8px;
  background: #fffaf5;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--primary-font);
}

.logo-block {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.nav-link {
  padding: 4px 8px;
  color: var(--lighter-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 100%;
}

.nav-link.active {
  color: var(--primary-color);
  font-weight: 600;
}

.nav-link:hover {
  text-decoration: underline;
}

.header-top__cta {
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  height: 50px;
  min-width: 117px;
  color: var(--primary-color);
  font-style: 1.4rem;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  transition: all 0.2s;
}

.header-top__cta:hover {
  color: #fff;
  background: var(--primary-color);
}

/* ============================ Hero ============================  */
.hero {
  margin-top: 92px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--primary-font);
}

.hero__media {
  position: relative;
  display: flex;
  padding-bottom: 94px;
}

.hero__title {
  width: 517px;
  color: var(--primary-color);
  font-family: var(--header-font);
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15;
}

.hero__desc {
  margin-top: 24px;
  width: 391px;
}

.hero__row {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-top: 38px;
}

.hero__btn {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 20px 30px;
  border: none;
  border-radius: 31px;
  background: var(--orange-color);
  color: #fff;
  box-shadow: 0px 13px 26px -8px #ff5b2e6b;
  transition: all 0.2s;
}

.hero__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.hero__btn--text {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}

.hero__btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #fff;
  box-shadow: 4px 3px 10px -1px #bf290066;
}

.hero__schedule {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 2px solid currentColor;
  transition: all 0.2s;
}

.hero__schedule:hover {
  border-bottom-color: transparent;
}

.media__img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 16px;
}

.media__img-container:first-child {
  border: 3px solid #fff;
  width: 388px;
  height: 488px;
  background: #fe997b;
}

.media__img-container:first-child .media__img,
.media__img-container:nth-child(2) .media__img {
  max-width: 100%;
  max-height: 100%;
}

.media__img-container:nth-child(2) {
  border: 2px solid #fff;
  margin: 0 0 -58px -23px;
  width: 186px;
  height: 244px;
  background: #faa7ad;
  align-self: flex-end;
}

.hero__decor {
  position: absolute;
  z-index: -1;
}

.hero__decor:nth-child(2) {
  left: -58px;
  bottom: 9.53px;
}

.hero__decor:nth-child(3) {
  top: 16.66px;
  right: -39.5px;
}

.media-desc {
  position: absolute;
  bottom: 0;
  left: 129px;
  z-index: 3;
  border-radius: 10px;
  padding: 18px 14px;
  width: 250px;
  height: 156px;
  background-color: #fff;
  box-shadow: -17px 14px 68px -4px #cfae8440;
}

.media-desc__row {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.media-desc__img-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
}

.media-desc__img-wrap.row-1 {
  background: #fec23f;
}

.media-desc__img-wrap.row-2 {
  background: #6597c2;
}

.media-desc__img {
  max-width: 100%;
  max-height: 100%;
}

.media-desc__name {
  color: #181e52;
  font-family: var(--header-font);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
}

.media-desc__line {
  border-radius: 10px;
  background: var(--primary-color);
  height: 4px;
  opacity: 8%;
}

.media-desc__line.line-1 {
  width: 118px;
  margin-top: 7px;
}

.media-desc__line.line-2 {
  width: 39px;
  margin-top: 6px;
}

.media-desc__seperate {
  width: 222px;
  height: 2px;
  background: #f2f2f2;
  border-radius: 999px;
  margin: 20px 0 20px;
}

/* ============================ About ============================  */
.about {
  margin-top: 77px;
}

.about__inner {
  padding: 53px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__sub-title {
  color: var(--lighter-color);
  font-family: var(--header-font);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}

.about__heading {
  margin-top: 15px;
  width: 446px;
}

.about__desc {
  width: 431px;
  margin-top: 24px;
}

.about__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 34px 36px;
  margin-top: 54px;
  width: 477px;
  height: 82px;
}

.about-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.about-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  background: var(--orange-color);
  transition: all 0.2s;
}

.about-item:first-child > .about-item__icon {
  box-shadow: 0px 4px 15px -3px #ff5d31b0;
}

.about-item__title {
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 500;
  white-space: nowrap;
}

.about__media {
  position: relative;
  padding-left: 92px;
}

.about__img-block {
  width: 494px;
  height: 559px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.about__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.about__img-block::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  content: "";
  border-radius: 16px;
  width: 100%;
  height: 60%;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  z-index: -1;
}

.about__decor {
  position: absolute;
  top: 149px;
  right: -71.63px;
  z-index: -1;
}

.about-stats {
  position: absolute;
  left: 0;
  top: 165px;
  z-index: 1;
}

.about-stats__inner {
  position: relative;
  padding-top: 31px;
  border-radius: 10px;
  width: 135px;
  height: 156px;
  background: #5bd6e2;
  text-align: center;
  box-shadow: -15px 26px 48px 0px #55f0ff2b;
}

.about-stats__number,
.about-stats__text {
  display: block;
}

.about-stats__number {
  font-family: var(--header-font);
  color: #fff;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
}

.about-stats__text {
  margin: 14px auto 0;
  width: 83px;
  color: #c6f4f9;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
}

.about-stats__icon {
  position: absolute;
  top: -39.19px;
  right: -30.95px;
}

/* ============================ About ============================  */
.features {
  margin-top: 77px;
}

.features__inner {
  display: flex;
  align-items: center;
}

.features-media {
  position: relative;
  padding: 16px 42px 55px 0;
}

.features-media__img-block {
  display: flex;
  align-items: flex-end;
  width: 458px;
  height: 500px;
  border: 2px solid #ffffff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%),
    linear-gradient(0deg, #ffffff, #ffffff);
  border-radius: 18px;
}

.features-media__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.features-media__decor {
  position: absolute;
}

.features-media__decor.decor-1 {
  top: 28.5px;
  right: 105.16px;
}

.features-media__decor.decor-2 {
  top: 0;
  right: 55px;
}

.features-media__decor.decor-3 {
  top: 49px;
  right: 21px;
}

.features-media__decor.decor-4 {
  top: 284px;
  right: 9px;
}

.features-media__decor.decor-5 {
  bottom: 205px;
  right: 61px;
}

.features-media__decor.decor-6 {
  right: 0;
  bottom: 0;
}

.features-content {
  margin-left: 85px;
}

.features__heading {
  width: 543px;
}

.features__desc {
  margin-top: 24px;
  width: 511px;
}

.features__list {
  position: relative;
  margin-top: 52px;
  width: 557.07px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features__list::before,
.features__list::after {
  position: absolute;
  bottom: -12px;
  display: block;
  content: "";
  height: 2px;
  background: var(--orange-color);
}

.features__list::before {
  width: 100%;
  opacity: 7%;
}

.features__list::after {
  width: 95px;
}

.features-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.features-item__name {
  font-family: var(--header-font);
  color: #48496a;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 600;
}

.features__desc--bottom {
  margin-top: 46px;
  font-size: 1.4rem;
  line-height: 1.71;
  width: 391px;
}

.features__more {
  display: inline-block;
  margin-top: 32px;
  color: var(--orange-color);
  font-weight: 500;
  font-style: 16px;
  line-height: 1;
  transition: 0.2s all;
  border-bottom: 1.5px solid transparent;
}

.features__more:hover {
  border-bottom-color: currentColor;
}

/* ============================ Services ============================  */
.services {
  margin-top: 130px;
  padding: 68px 0 100px;
  background: #fff6ed;
}

.services__top {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
}

.services__desc {
  color: var(--lighter-color);
  font-family: var(--header-font);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}

.services__body {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 71px;
  margin-top: 71px;
}

.services-item {
  padding: 30px 22px 30px 28px;
  border: 2px solid #ffbc7a42;
  border-radius: 10px;
  width: 294px;
  height: 208px;
  background: #fff;
}

.services-item + .services-item {
  margin-top: 24px;
}

.services-item__title-row {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.services-item__title-line {
  border-radius: 1px;
  height: 22px;
  width: 2px;
  background: linear-gradient(89.89deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.services-item__heading {
  color: var(--primary-color);
  font-family: var(--header-font);
  font-style: 2.2rem;
  line-height: 1;
  font-weight: 600;
}

.services-item__desc {
  margin-top: 18px;
  width: 244px;
  color: #656689;
  font-size: 1.4rem;
  line-height: 1.714;
}

.services-item__more {
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-top: 24px;
  color: #34396a;
  font-family: var(--header-font);
  font-size: 1.2rem;
  line-height: 1;
}

.services__img-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 440px;
  height: 621px;
}

.services__img-block::before {
  position: absolute;
  display: inline-block;
  content: "";
  bottom: 0;
  left: 16px;
  right: 16px;
  border-radius: 10px;
  width: 410px;
  height: 350px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.services__cta {
  display: block;
  margin: 65px auto 0;
}

/* ============================ Staff ============================  */
.staff {
  margin-top: 130px;
}

.staff__top {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
}

.staff__desc {
  color: var(--lighter-color);
  font-family: var(--header-font);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}

.staff__list {
  display: grid;
  grid-template-columns: repeat(4, 266px);
  column-gap: 35px;
  margin-top: 45px;
}

.staff-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 34px;
}

.staff-item__img-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 234px;
  height: 299px;
}

.staff-item__img-block::before {
  position: absolute;
  bottom: 0;
  display: inline-block;
  content: "";
  border-radius: 129.5px;
  width: 234px;
  height: 266px;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
  z-index: -1;
}

.staff-item:nth-child(2) .staff-item__img-block::before {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(3) .staff-item__img-block::before {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:last-child .staff-item__img-block::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item__img {
  border-radius: 129.5px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.staff-item__decor {
  position: absolute;
}

.staff-item__decor.decor-1,
.staff-item__decor.decor-3 {
  bottom: 0;
  left: -16px;
  right: -16px;
}

.staff-item__decor.decor-2,
.staff-item__decor.decor-4 {
  top: 33px;
  left: -16px;
  right: -16px;
}

.staff-item__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 14px;
}

.staff-item__occupation {
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 1;
}

.staff-item__name {
  color: var(--header-font);
  font-family: var(--header-font);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}

.staff__cta {
  display: block;
  width: 193px;
  margin: 48px auto 0;
}

/* ============================ Pricing ============================  */
.pricing {
  margin-top: 130px;
  padding: 86px 0;
  background: #fff6ed;
}

.pricing__container {
  width: 994px;
}

.pricing__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pricing__desc {
  margin-top: 24px;
  width: 709px;
}

.pricing__switch-wrap {
  margin-top: 38px;
}

.pricing__switch-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 276px;
  height: 56px;
  padding: 0 40px;
  border: 1px solid #ff5b2e99;
  border-radius: 99px;
  user-select: none;
  cursor: pointer;
}

.pricing__switch-label::before {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  width: 131px;
  height: 100%;
  background: #ff5b2e;
  border-radius: inherit;
  transition: all 0.3s;
}

.pricing__switch-value {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  color: #fff;
  transition: all 0.3s;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
  width: 145px;
  transform: translateX(-131px);
}

.pricing__switch-input:not(:checked)
  + .pricing__switch-label
  .pricing__switch-value:nth-of-type(1),
.pricing__switch-input:checked
  + .pricing__switch-label
  .pricing__switch-value:nth-of-type(2) {
  color: #ff5b2e;
}

.pricing__switch-inner {
  position: relative;
}

.pricing__sale-off {
  position: absolute;
  top: -10px;
  right: -112px;
}

.pricing__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 44px;
  margin-top: 56px;
}

.pricing-item {
  border-radius: 20px;
  height: 465px;
  background: #fff;
  padding: 30px 28px 43px;
}

.pricing-item__name,
.pricing-item__group,
.pricing-item__price {
  display: block;
}

.pricing-item__name {
  color: var(--orange-color);
  font-size: 1.2rem;
  line-height: 1;
}

.pricing-item__group {
  margin-top: 8px;
  color: #3f4065;
  font-family: var(--header-font);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

.pricing-item__price {
  margin-top: 24px;
  color: var(--primary-color);
  font-family: Sora;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1;
}

.pricing-item__btn {
  width: 100%;
  height: 44px;
  line-height: 44px;
  margin-top: 22px;
}

.pricing-item__perk-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.pricing-item__perk-wrap {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.pricing-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  color: var(--orange-color);
}

.pricing-item__perk {
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 1;
}

.pricing-item:first-child
  .pricing-item__perk-list
  .pricing-item__perk-wrap:nth-child(n + 4)
  .pricing-item__icon {
  color: #ff5b2e66;
}

.pricing-item:nth-child(2)
  .pricing-item__perk-list
  .pricing-item__perk-wrap:nth-child(n + 6)
  .pricing-item__icon {
  color: #ff5b2e66;
}

/* ============================ Pricing ============================  */
.review {
  margin-top: 53px;
}

.review__inner {
  display: flex;
  align-items: center;
  padding-top: 98px;
}

.review__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: 1.5px solid#FFD1C4;
  width: 54px;
  height: 54px;
  background: transparent;
  color: var(--orange-color);
  cursor: pointer;
  transition: all 0.2s;
}

.review__btn:hover {
  background: var(--orange-color);
  color: #fff;
  box-shadow: 0px 5px 27px 0px #ff5b2e4d;
}

.review__img-block {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 44px;
  border-radius: 137px;
  width: 274px;
  height: 350px;
  background: #ffda54;
}

.review__img {
  border-radius: 137px;
  width: 100%;
  height: 427px;
  object-fit: cover;
}

.review_content {
  margin-left: 115px;
}

.review__feedback {
  margin-top: 24px;
  color: #000;
  width: 553px;
  font-size: 1.8rem;
  line-height: 1.56;
}

.review__btn--right {
  margin-left: auto;
}

.review__author-row {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-top: 34px;
}

.review__author-line {
  background: #000;
  border-radius: 1px;
  width: 20px;
  height: 2px;
}

.review__author {
  color: #000;
  font-family: var(--header-font);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
}

.review__dots {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.dot.active {
  border-radius: 4px;
  width: 24px;
  height: 8px;
  background: var(--orange-color);
}

.dot {
  border: 1px solid var(--orange-color);
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

/* ============================ Blog ============================  */
.blog {
  margin-top: 130px;
}

.blog__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog__top--right {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-right: 73px;
}

.blog__desc {
  width: 350px;
}

.blog__cta {
  width: 182px;
}

.blog__list {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 46px;
}

.blog-item {
  width: 358px;
  height: 546px;
}

.blog-item__top {
  position: relative;
  border-radius: 24px;
  width: auto;
  height: 362px;
  background: #90ccff;
  padding: 24px 0 0 36px;
}

.blog-item:nth-child(2) .blog-item__top {
  background: #ff997e;
}

.blog-item:last-child .blog-item__top {
  background: #5bd6e2;
}

.blog-item__img-blog {
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 322px;
  height: 296px;
  overflow: hidden;
}

.blog-item__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.blog-item__date {
  color: #fff;
  font-family: var(--header-font);
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 600;
}

.blog-item__body {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.blog-item__heading {
  font-size: 2.2rem;
  line-height: 1.54;
}

.blog-item__desc {
  width: 351px;
  font-size: 1.4rem;
  line-height: 1.71;
}

/* ============================ Footer ============================  */
.footer {
  margin-top: 131px;
  padding: 52px 0 48px 0;
  background: linear-gradient(
    to right,
    #fff6ed 42.7083333%,
    #fffaf5 42.7083333% 100%
  );
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__form {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 16px;
  margin-top: 34.82px;
  border: 1px solid #ff5b2e40;
  border-radius: 23px;
  width: 268px;
  height: 46px;
  background: rgba(255, 255, 255, 0.75);
}

.footer__input {
  border: none;
  outline: none;
  width: 75%;
  background: transparent;
}

.footer__input,
.footer__input::placeholder {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.17;
  font-weight: 300;
}

.footer__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  border: none;
  width: 46px;
  height: 46px;
  margin-left: 17px;
  background: var(--orange-color);
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 15px 28px -7px #ff5b2e4d;
  transition: all 0.3s;
}

.footer__submit:hover {
  opacity: 0.8;
}

.footer__form:has(:invalid) .footer__submit {
  color: var(--orange-color);
  background: transparent;
  opacity: 0.5;
  pointer-events: none;
  box-shadow: none;
}

.footer__form:has(:invalid:not(:placeholder-shown)) .footer__error {
  display: block;
}

.footer__error {
  display: none;
  position: absolute;
  left: 0;
  bottom: -30px;
  color: #ee3f55;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
}

.footer__follow {
  display: inline-block;
  margin-top: 68px;
  color: var(--header-font);
  font-family: var(--header-font);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1;
}

.footer-social {
  margin-top: 16px;
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.footer-social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  color: var(--primary-color);
  background: #fff;
  transition: all 0.3s;
}

.footer-social__icon:hover {
  box-shadow: -4px 6px 10px -2px rgba(0, 0, 0, 0.3);
}

.footer-right {
  display: flex;
  padding-right: 37px;
  column-gap: 137px;
}

.footer-right__column {
  display: flex;
  flex-direction: column;
}

.footer-right__column:first-child {
  row-gap: 86px;
}

.footer-right__column:last-child {
  row-gap: 58px;
}

.footer-right__heading {
  color: var(--primary-color);
  font-family: var(--header-font);
  font-size: 1.8rem;
  line-height: 1.11;
  font-weight: 600;
}

.footer-right__list {
  margin-top: 14px;
}

.footer-right__link,
.footer-right__item {
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 2;
}

.footer-right__link:hover {
  text-decoration: underline;
}

.footer__copyright {
  margin-top: 52px;
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.11;
  text-align: center;
  opacity: 0.5;
}
